# docker-compose.yml
version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Fe0SR7u6xTc6SVUxcVn063NlTk6A3Hmnb3aKrvkBBOgYuWPKNNg3gZ9U9eduFeMl
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: sh -c "python manage.py migrate && gunicorn --bind 0.0.0.0:8000 yachu.wsgi:application"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://postgres:Fe0SR7u6xTc6SVUxcVn063NlTk6A3Hmnb3aKrvkBBOgYuWPKNNg3gZ9U9eduFeMl@w0oco4oswgsw004ggosg88wc:5432/postgres
      - DEBUG=False
    depends_on:
      db:
        condition: service_healthy



volumes:
  postgres_data:
  static_volume:
  media_volume: